body {
    font-family: "Droid Serif", "Helvetica", "Liberation Sans", "Verdana", sans-serif;
    font-size: 14px;
    background-color: #ccc;
    color: #222;
    line-height: 20px;
}

div.content h2 {
    font-family: "Liberation Sans", "Verdana", sans-serif;
    padding-top: 15px;
}

a, a:active, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #555;
    text-decoration: none;
}


div.onecont {
    float: left;
    border: solid 1px #222;
    padding: 10px;
    width: 700px;
    margin-bottom: 10px;
}

div.heading {
    font-family: "Liberation Sans", "Verdana", sans-serif;
    padding: 10px;
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 10px;
    width: 925px;
    height: 100px;
    border: solid 1px #222;
}

div.rss {
    float: right;
    text-align: right;
}

pre.sourcecode {
    font-size: 12px;
    border: solid 1px #aaa;
    padding: 5px;
    background: #bbb;
    overflow: hidden;
}

div.b_art_info {
    font-size: 10px;
    background-color: #ddd;
    color: #222;
    border: solid 1px #aaa;
    padding: 4px;
}


div.menu {
    font-family: "Liberation Sans", "Verdana", sans-serif;
    float: left;
    width: 190px;
    height: 500px;
    border: solid 1px #222;
    padding: 10px;
}

div.menupoint {
    border: solid 1px #aaa;
    padding: 5px;
    background: #ddd;
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

div.menuentry {
    padding: 2px;
    margin-left: 5px;
}
div.content {
    margin-left: 10px;
    float: left;
    width: 700px;
    min-height: 500px;
}

div.main {
    margin-left: 50px;
    margin-right: auto;
    width: 945px;
}

div.code {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #eee;
    padding: 5px;
    border: solid 1px #222;
}
